body {
	background-image: url('bg.png');
}
#header, #footer, #mainCanvas, #menuCanvas, #menuBG {
	position: fixed;
	top: 50%;
	left: 50%;
}
#header, #footer {
	font-family: "Verdana", sans-serif;
}
#header {
	color: #FFF;
	margin-left: -400px;
	margin-top: -365px;
}
#footer {
	color: #777;
	margin-left: 165px;
	margin-top: 280px;
	z-index: 2;
}
#mainCanvas {
	margin-left: -400px;
	margin-top: -300px;
	z-index: 1;
	background-color: #1a1a1a;
	box-shadow: 0px 0px 5px 0px #0a0a0a;
}
#menuCanvas, #menuBG {
	margin-left: 410px;
	margin-top: -300px;
	z-index: -1;
}
#menuCanvas {
	background-color: #e0e0e0;
}
#menuBG {
	background-color: #08C;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 0px 5px 0px #111;
}