body {
	background-color: rgba(22, 26, 29, 1.0);
}

/* SIDEBAR */

.sidebar {
  float: left;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 50px;
  white-space: nowrap;

  background: rgba(13, 19, 27, 1);
  font-size: 0;

  transition: all 0.36s ease-in-out;
  -webkit-transition: all 0.36s ease-in-out;
}

.sidebar:hover {
  width: 250px;
}

.settings-wheel {
  display: inline-block;
  height: 50px;
  padding-left: 8px;
  padding-top: 6px;
  vertical-align: top;
  width: 50px;
}

.fa-cog {
  color: rgba(64, 64, 87, 1);
  font-size: 40px;
}

.settings-panel {
  display: inline-block;
  height: 100%;
  width: 200px;

  background: rgba(15, 23, 34, 1);
}

.settings-component {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;

  transition: all 0.1s ease-in-out;
}

.settings-component:hover {
  background-color: rgba(33, 51, 75, 1.0);
  cursor: pointer;
  padding-left: 15px;
}

.settings-component.no-hover:hover {
  background-color: transparent;
  cursor: default;
  padding-left: 10px;
}

.settings-header {
  vertical-align: middle;

  color: ghostwhite;
  font-size: 30px;
  line-height: normal;
}

.settings-header:hover {
  background-color: transparent;
}

.settings-option {
  vertical-align: middle;

  color: ghostwhite;
  cursor: pointer;
  font-size: 12px;
}

/* MAIN CONTENT */

.container {
  transition: margin-left 0.36s ease-in-out;
  -webkit-transition: margin-left 0.36s ease-in-out;
}

.content-container {
  width: 800px;
}

.content-title {
  color: white;
}

.content-footer {
  color: white;
}

#canvas {
  background-color: rgba(17, 19, 26, 1.0);
}